version: '3'
services:
  frontent-spa:
    volumes:
      - './frontend-spa/public:${WORK_DIR}/public'
      - './frontend-spa/src:${WORK_DIR}/src'

  frontent-ssr:
    volumes:
      - './frontend-ssr/pages:${WORK_DIR}/pages'
      - './frontend-ssr/next.config.js:${WORK_DIR}/next.config.js'

  backend:
    volumes:
      - './backend/src:${WORK_DIR}/src'
      - './backend/dev.js:${WORK_DIR}/dev.js'
    ports:
      - '${BACKEND_DEBUG_PORT}:9229'
